/* Main programming */

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    /* position fez o overlay ficar no pai = login-container */
    position: relative;
    height: 30rem;
    width: 45rem;
    border-radius: 1rem;
    box-shadow: 0 14px 20px #a0a0a0;
    /* hide everything out this container  */
    overflow: hidden;
}