.form-social{
    display: flex;
    gap: 1rem;
}    

.social-icon{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: var(--icon-color);
    box-shadow: 0 4px 4px #0004;
    transition: 0.5s;
}

.social-icon:hover{
    background-color: var(--primary-color);
    color: #fff;
    transform: translateY(-15%);
}